@import "~antd/dist/antd.css";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-button {
  display: inline-block;
  text-align: center;
  padding: 0 20px;
  background: #001529;
  border: none;
  color: white;
  font-size: 20px;
  position: relative;
}

.header-button:hover {
  color: #001529;
  background-color: #ccc;
  cursor: pointer;
}

.header-login:hover .header-usernamelogout {
  display: block;
}

.header-usernamelogin {
  margin-right: 10px;
}

.header-usernamelogout {
  position: absolute;
  right: 0;
  background-color: #001529;
  width: 100%;
  display: none;
  color: white;
  z-index: 1;
}

.header-usernamelogout:hover {
  background-color: #ccc;
  color: #001529;
}

/* ////////////// */
.manage,
.decentralization,
.home,
.login {
  background-color: lightsteelblue;
  padding: 20px 160px;
}

.manage-title,
.decentralization-title,
.home-title,
.login-title {
  text-align: center;
  font-size: 30px;
  margin: 20px 0 40px;
  font-weight: bold;
}

.manager-action-icon,
.decentralization-action-icon {
  font-size: 18px;
  color: #222;
  cursor: pointer;
  margin: 0 6px;
}

.manage-btn-add {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

/* //////////// */
.managerlist_modal_create-and-update .ant-modal-footer {
  display: none;
}

.modal-btn-save {
  margin-top: 16px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

/* ////////////////// */
.home-guide-item {
  margin-bottom: 40px;
}

/* //////// */
.login {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center; 
}

.login-form{
  width: 100%;
}